{% extends 'main.html' %}
{% load static %}

{% block extend_head %}

{% endblock %}

{% block content %}

    <h3 style = "color:darkcyan;text-align:center;">WELCOME NOTE</h3>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore dolor ad est neque eius,
         mollitia velit repellendus, reprehenderit, sed esse aperiam quis sit voluptatem suscipit dicta sint nobis harum? 
         Velit, corporis. Libero, necessitatibus sapiente nulla autem ab eaque magni dolorem rem cumque molestiae velit, 
        voluptatum, accusantium consequuntur soluta quibusdam. Facilis?</p>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nisi asperiores ullam, molestias similique, 
        est eligendi magni velit voluptatibus laborum voluptates, non cupiditate quia sequi.
         Vel placeat sint unde illum sit veritatis magnam maiores dolorem, id dolore quae vero,
        minima quas delectus beatae quia esse cum excepturi eum saepe maxime?
    </p>

{% endblock content %}


{% block extend_footer %}



{% endblock %}