{% extends 'main.html' %}
{% load static %}

{% block extend_head %}

{% endblock %}

{% block content %}

    <h3 style = "color:black;text-align:center;">RealTime Temperature Data</h3>

    <div style="max-width: 900px; max-height: 400px; text-align:center;">
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>

{% endblock content %}

{% block extend_footer %}
<!-- Custom JavaScripts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.js"></script>

<script>
    var dataObj={
      type: 'line',
      data: {
          labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
          datasets: [{
              label: 'Real time data',
              data: [24.5, 25.7, 26.5, 25.4, 27.2, 28.3, 27.5, 25, 26.8, 29.5, 31.2, 28, 26.3, 24.7, 25],
              borderColor: "midnightblue",
              fill: false
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
    }
  var ctx = document.getElementById('myChart').getContext('2d');
  window.myLine = new Chart(ctx, dataObj);
</script>
{% endblock %}